* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
ul,
li,
h1,
p,
span,
h2,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
